*
{
font-family:"Poppins",sans-serif;
}
body
{
    display: flex;
    background-color: #010317;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
 .box
{
    position: relative;
    width: 1400px;
    height: 690px;
    background-color: #0a27cf;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
}
.box::before
{
    content: "";
    position: absolute;
    width: 2000px;
    height: 1000px;
    background: linear-gradient(0deg, transparent,#f80303, #f80303 );
    top:-85%;
    left:-85%;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after
{
    content: "";
    position: absolute;
    width: 2000px;
    height: 1000px;
    background: linear-gradient(0deg, transparent,#f80303, #f80303 );
    top:-85%;
    left:-85%;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay:-3s;
}
@keyframes animate
 {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
} 
.box2
{
    position: absolute;
    background-color:#23242a;
    z-index: 10;
    inset: 4px;  
    border-radius: 8px; 
    display: inline-block;
}
.box2 img
{	
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px; 
}
.box2 h1
{
	position: relative;
	font-size:80px;
    margin-top: 20px;
    margin-left: 20px;
	color:#f80303;
}
.box2 p
{
    position: relative;
	font-size:30px;
    margin-left: 20px;
	color:#f80303;
}