body {
    display: flex;
    background-color: #111111;
    padding-top: 10px;
}

img:hover {
    opacity: 50%;
    cursor: pointer;
}

.box {
    position: relative;
    width: 1500px;
    height: 690px;
    background-color: #0a27cf;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
}

.box::before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 1000px;
    background: linear-gradient(0deg, transparent, #f80303, #f80303);
    top: -85%;
    left: -85%;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
    width: 2000px;
    height: 1000px;
    background: linear-gradient(0deg, transparent, #f80303, #f80303);
    top: -85%;
    left: -85%;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box2 {
    position: absolute;
    background-color: #23242a;
    z-index: 10;
    inset: 4px;
    border-radius: 8px;
    display: flex;
}

.column1 {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #111111;
}

#img1 {
    position: relative;
    width: 90%;
    height: 41%;
    margin-top: 6%;
    margin-left: 5%;
}

#img3 {
    position: relative;
    width: 90%;
    height: 41%;
    margin-top: 6%;
    margin-left: 5%;
}

.column2 {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #111111;
}

#img2 {
    position: relative;
    width: 90%;
    height: 41%;
    margin-top: 6%;
    margin-left: 5%;
}

#img4 {
    position: relative;
    width: 90%;
    height: 41%;
    margin-top: 6%;
    margin-left: 5%;
}